/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --title2-color: #ff4500;
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);
  --container-color-1: hsl(210, 24%, 8%);
  --bg-color: #141313;
  --white-color: #fff;
  --icon-color: #ff4500;

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(207, 48%, 72%, 0),
                      hsla(207, 65%, 65%, 1));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 1.5rem;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;


/*========== Emotiona Eyes ==========*/
--eye-size: 4vmin; /* Reduced eye size */
--eye-gap: 2vmin;  /* Adjusted gap */
  --eye-color:white;
  --user-button-main:#D770AD
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
    --big-font-size: 6rem;

    
  }
}

/*=============== BASE ===============*/
*,::after,::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background .4s; /* for dark mode animation */
  
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --container-color: hsl(207, 4%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*CONTENT*/
.block {
  display: block;
}

.inline {
  display: inline-block;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}


.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
  color: var(--title2-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  
  overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header{
  width: 100%;
  position: fixed;
  top: .25rem;
  left: 0;
  z-index:var(--z-fixed) ;
}

.nav{
  height: calc(var(--header-height) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
  padding-inline: 1.5rem;
  border-radius: 3rem;
  background-color: #141313;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--icon-color);
}

.nav__logo {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}
.nav__toggle {
 display: flex;
 font-size: 1.25rem;
 cursor: pointer;
}

@media screen and (max-width: 1023px) {
.nav__menu {
position: fixed;
width: 88%;
left: 0;
right: 0;
top: -100%;
margin: 0 auto;
background-color: var(--body-color);
box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
padding: 2erm 1.5rem 5rem;
border-radius: 2rem;
transition: bottom .3s;
}


}

.nav__list {
grid-template-columns:repeat(3, max-content);
justify-content: center;
gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: color .3s;
}

.nav__link:hover {
  color: var(--title2-color);
}

.nav__link i {
  font-size: 1.25rem;
  

}

.nav__close {
  position: absolute;
  right: 1.5rem;
  top: .7rem;
  font-size: 1.5rem;
  cursor: pointer;

}
/* Show menu */
.show-menu {
top: .3rem;
}


/* Active link */
.active-link{
  color: var(--icon-color);

}


/*=============== HOME ===============*/
/*Home*/


.home {
  height:calc(100vh - var(--header-height));
  padding-top: 5rem;
  position: relative;
  grid-template-columns: 1fr;
  row-gap: 2.3rem;
  align-content: flex-end;
  overflow: hidden;
  font-family: var(--body-font);
  font-weight:initial;
  background-color: var(--bg-color);
}

.home__title {
  position: absolute;
  top: 3%;
  font-size: var(--big-font-size);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--title2-color);
}
.home__img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 700px;
  z-index: var(--z-normal);
}
.home__information {
  padding-left: 4.25rem;
  padding-right: 2rem;
  color: var(--text-color);
}
.home__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
}

/*----- COMPONENTS -----*/
.icon-box {
  color: var(--icon-color);
  font-size: 3rem;
}
.icon-box--small {
  font-size: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  padding-bottom: 1rem;
}
.box__content {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0px 10px 24px hsla(0, 0%, 0%, 0.6);
  border-radius: 1rem;
  text-align: center;
}
.box__medium {
  width: 150px;
  height: 150px;
  padding: 1.5rem 0.75rem;
}
.box__medium-title {
  font-size: 3rem;
  color: var(--white-color);
}
.box__medium-description {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}
.box__medium-detail {
  font-size: var(--small-font-size);
}
.box__small {
  width: 70px;
  height: 70px;
  padding: 0.75rem 0;
  margin-bottom: 0.625rem;
}
.box__small-title {
  font-size: var(--small-font-size);
  color: var(--white-color);
}
.box__small-detail {
  font-size: var(--smaller-font-size);
}


@media screen and (min-width: 800px) {
  
  .home {
    height: 100vh;
    padding: 0;
  }
  
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .home {
    grid-template-columns: 402px 322px;
    grid-template-rows: 152px;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .home__title {
    top: 23%;
    left: 0;
    right: 0;
    writing-mode: initial;
    transform: initial;
    text-align: center;
  }
  .home__img {
    width: 900px;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .home__information {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-inline: auto;
  }
}


/*=============== SERVICES ===============*/
.services__container {
row-gap: 2.5rem;
justify-content: center;
}

.services__card{
  --hue-1: 210;
  --hue-2: 238;
position: relative;
width: 228px;
height: 322px;
background-color: var(--container-color);
text-align: center;
padding: 3.5rem 1rem;
border-radius: 7.2rem;
}
.services__card i{
  display: block;
  font-size: 2rem;
  color: var(--icon-color);
  margin-bottom: .75rem;
  transition: transform .8s;
  
}
 .services__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
  
 }

 .services__border {
  width: 248px;
  height: 342px;
  border: 1.8px solid var(--icon-color);
  border-radius: 7.75rem;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  z-index: -1;
  transition : opacity .6s ;
  opacity: 0;
 }
 .services__card:hover i {
transform: rotate(360deg);
 }

.services__card:hover .services__border {
  opacity: 1;
 }

/*=============== NEW SERVICE CARD ===============*/




.service__article {
  --hue-1: 210;
  --hue-2: 238;
  color: var(--white-color);
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
  overflow: hidden;
}
.service__shape-1 {
  background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
  border-radius: 2rem;
  z-index: 2;
}
.service__shape-2 {
  width: 116px;
  height: 116px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 1.5rem;
}
.service__shape-3 {
  width: 76px;
  height: 76px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
  border-radius: 1rem;
  display: grid;
  place-items: center;
}
.service__shape-2, .service__shape-3 {
  position: absolute;
  inset: 0;
  margin: auto;
}


.service__button {
  display: inline-block;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--black-color);
  font-weight: 500;
}
.service__orange {
  --hue-1: 300;
  --hue-2: 30;
}
.service__green {
  --hue-1: 180;
  --hue-2: 50;
}
.service__scale-1 {
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 2rem;
  top: 4rem;
}
.service__scale-2 {
  background: var(--container-color);
  border-radius: 1.5rem;
  top: 5rem;
}
.service__scale-1, .service__scale-2 {
  position: absolute;
  filter: blur(24px);
  transition: transform 0.3s ease-in;
}
.service__article:hover .service__scale-1 {
  transform: scale(6);
}
.service__article:hover .service__scale-2 {
  transform: scale(6);
  transition-delay: 0.1s;
}



 

 

/*=============== PROJECTS ===============*/
.projects__container{
  overflow: initial;
}

.projects__content {
display: grid;
justify-content: center;
}

.projects__img{
 width: 250px;
 border-radius: .75rem;
 margin-bottom: 1.25rem;
}

.projects__subtitle{
font-size: var(--small-font-size);
color: var(--text-color-light);
}

.projects__title{
font-size: var(--h2-font-size);
margin-bottom: 1.25rem;
margin: .5rem 0 1.25rem;
}

.projects__button{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--icon-color);
  font-size: var(--small-font-size);
}

.projects__button i {
font-size: 1rem;
transition: transform 0.3s;
color: var(--icon-color);
}

.projects__button:hover i {
transform: translateX(0.25rem);
}


/* Swiper class */
.projects__container .swiper-button-prev::after ,
.projects__container .swiper-button-next::after {
  content: '';
} 

.projects__container .swiper-button-prev,   
.projects__container .swiper-button-next{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--icon-color);

}

.projects__container .swiper-button-prev {
  left: -1rem;
  top: 4.5rem;
}
  
.projects__container .swiper-button-next {
  right: -1rem;
  top: 4.5rem;
}

.projects__container .swiper-slide{
  margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullet{
  bottom: 0;
}

.projects__container .swiper-pagination-bullet{
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects__container .swiper-pagination-bullet-active{
  background-color: var(--icon-color);
}





/*=============== ABOUT ===============*/
.about_container {
  row-gap: 4rem;
  padding-top: 2rem;
}

.about__data {
  row-gap: 1.5 rem;
}
.about__title{
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: .3px;
  margin-bottom: 5rem;
  
}
.about__blob{
  position: relative;
  width: 200px;
  height: 290px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 6.25rem;
  place-items: center;
}

.about__perfil {
  width: 170px;
  height: 260px;
  background: var(--gradient-color);
  border-radius: 5.5rem;
  overflow: hidden;
  display: flex;
  justify-content:center ;
  align-items: flex-end;
}

.about__perfil img {
width: 150px;

}

.about__shape-wawes,
.about__shape-circle{
  position: absolute;
  opacity: .1;

}

.about__shape-wawes{
  width: 50px;
  left: -1.5rem;
  top: 5rem;
}

.about__shape-circle{
width: 150px;
bottom: -2rem;
right: -3rem;
transform: rotate(15deg);
z-index: -1;
}

.about__social{
  justify-self: center;
  display: flex;
  column-gap: 1.25rem;
}

.about__social-link {
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color .3s;
}

.about__social-link:hover{
  color: var(--icon-color);
}

.about__info{
  display: grid;
  row-gap: 2rem;
}

.about__info-title{
  font-family:var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
.about__info-description,
.about__info-number{
  font-family: var(--title-font);
  color: var(--title-color);
}

.about__info-description{
  padding-right: 4rem;
}

.about__info-number{
font-size: var(--h1-font-size);
font-weight: var(--font-semi-bold);
}

/*=============== QUALIFICATION ===============*/
.qualification{
  position: relative;
}


.qualification-container{
row-gap: 3.5rem;
}

.qualification__title{
display: flex;
justify-content: center;
align-items: center;
column-gap: .5rem;
font-size: var(--small-font-size);
font-weight: var(--font-semi-bold);
margin-bottom: 2rem;

}

.qualification__title i{
 font-size: 1rem;
 font-weight: initial;
 color: var(--icon-color); 
}

.qualification__info{
  display: grid;
  row-gap: 2rem;
}

.qualification__name{
  font-size: var(--normal-font-size);
  margin-bottom: 1.25rem;
}

.qualification__country,
.qualification__year{
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__country{
  margin-bottom: .75rem;
}
.qualification__img{
 width: 150px;
 position: absolute;
 right: -3rem;
bottom: 12rem;
transform: rotate(15deg);
opacity: .1;
}


/*=============== SKILLS ===============*/
.skills__container{
  row-gap: 3.5rem;
}

.skills__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
  
}

.skills__title i{
  font-size: 1rem;
  font-weight: initial;
  color: var(--icon-color);
}

.skills__info,
.skills__data,
.skills__blob {
display: grid;
}

.skills__info{
grid-template-columns: repeat(3,1fr) ;
gap: 2.5rem 2rem;
}

.skills__data{  
  justify-content: center;
  text-align: center;
}

.skills__blob{
width: 80px;
height: 100px;
background-color:var(--container-color);
border-radius: 3rem;
place-items: center;
margin-bottom: 1rem;
}

.skills__blob img{
  width: 40px;
}

.skills__name{
font-size: var(--small-font-size);
margin-bottom: .25rem;
}

.skills__subtitle{
font-size: var(--tiny-font-size);
color: var(--text-color-light);
}

/* Animation skills */
.skills__blob:hover img{
animation: bounce-skills .6s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0);
  }
  20%{
    transform: translatey(-6px);
  }
  40%{
    transform: translate(0);
  }
  60%{
    transform: translatey(-3px);
  }
  80%{
    transform: translate(0);
  }
}








/*=============== TESTIMONIAL ===============*/
.testimonial{
  position: relative;
}

.testimonial__content{
  text-align: center;
}


.testimonial__description{
font-family: var(--title-font);
color: var(--title-color);
margin-bottom: 1.5rem;
}

.testimonial__name{
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
  font-weight: var(--font-medium);

}
.testimonial__subtitle{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.testimonial__img{
width: 70px;
transform: rotate(30deg);
position: absolute;
top: 5rem;
right: -1.5rem;
opacity:.1;
}
/* Swiper class */
.testimonial__container .swiper-slide{
  margin-bottom: 4rem;

}
 .testimonial__container .swiper-button-prev::after,
 .testimonial__container .swiper-button-next::after{
   content: '';
   
  }

  .testimonial__container .swiper-button-prev,
 .testimonial__container .swiper-button-next{
   font-size: 2rem;
   color: var(--icon-color);
   width: initial;
   height: initial;
   top: initial;
   bottom: .5rem;
   
  }

  .testimonial__container .swiper-button-next{
    right: calc(50% - 3rem);
  }
  
  .testimonial__container .swiper-button-prev{
    left: calc(50% - 3rem);
  }
   
  .testimonial__container .swiper-button-disabled{
    opacity: initial;
    color: var(--text-color-light);
  }




/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3.5rem;
}

.contact__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact__title i{
  font-size: 1rem;
  font-weight: initial;
  color: var(--icon-color);
}

.contact__info,
.contact__data,
.contact__form{
  display: grid;
}

.contact__info{
  row-gap: 2rem;
}
.contact__data{
  row-gap: .75rem;
}

.contact__data-title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__data-info{
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
}

.contact__button{
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--icon-color);
  font-size: var(--small-font-size);
}

.contact__button i{
 font-size:1rem;
 transition: transform.3s; 
}
.contact__button:hover i {
  transform: rotate(360deg);
}
.contact__form{
  position: relative;
  row-gap: 2rem;
}

.contact__form-div{
  position: relative;
  height: 4rem;
}

.contact__form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
 border: 2px solid var(--icon-color);
 border-radius: 2rem;
 padding: 1.5rem;
 font-size: var(--normal-font-size);
 font-family: var(--title-font);
 color: var(--title-color);
 background: none;
 outline: none;
 z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;

}

.contact__form-area{
  height: 10rem;
}
.contact__form-area textarea{
  resize: none;
}
.contact__form .contact__button{
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact__form .contact__button i{
  font-size: 1.5rem;
  font-weight: initial;
}
.contact__message{
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}
/* Status color */
.color-red{
  color: hsl(4,71%,50%);
}

.color-blue{
  color: hsl( 207, 56%, 45%);
}

/*=============== FOOTER ===============*/
.footer__container{
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer__title{
font-size: var(--h1-font-size);
font-weight: var(--font-semi-bold);
margin-bottom: 1rem;
}

.footer__list,
.footer__social {
 display: flex;
 justify-content: center;
}

.footer__list{
  margin: 2.5rem 0;
  column-gap: 2.5rem;
}

.footer__link{
  color: var(--title-color);
}

.footer__link:hover{
  color: var(--title2-color);
}

.footer__social{
  column-gap: 1.25rem;
}

.footer__social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}

.footer__social-link:hover{
  transform:translatey(-.5rem)
}

.footer__social i{
  font-size: 1.5rem;
  color: var(--icon-color);
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== EMOTIONAL EMOJI  ===============*/


.floating-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 15vmin;
  height: 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--icon-color);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: float 3s ease-in-out infinite;
  
}

@keyframes float {
  0%, 100% {
      transform: translateY(-5%);
  }
  50% {
      transform: translateY(5%);
  }
}

.face {
  --left-lower-rotation: 0deg;
  --left-lower-position: 0%;
  --left-upper-rotation: 0deg;
  --left-upper-position: 0%;
  --right-lower-rotation: 0deg;
  --right-lower-position: 0%;
  --right-upper-rotation: 0deg;
  --right-upper-position: 0%;
  --face-rotation-x: 0deg;
  --face-rotation-y: 0deg;
  --face-rotation-z: 0deg;
  display: grid;
  grid-template-columns: var(--eye-size) var(--eye-gap) var(--eye-size);
  grid-template-rows: var(--eye-size);
  grid-template-areas: "left . right";
  filter: blur(0.5vmin) contrast(8);
  transform: translateZ(4vmin) rotateX(var(--face-rotation-x)) rotateY(var(--face-rotation-y)) rotateZ(var(--face-rotation-z));
  transition: 0.75s cubic-bezier(0.25, 0.5, 0.5, 1);
  mix-blend-mode: lighten;
}

.face .eye {
  position: relative;
  background:white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 0 2vmin black; /* Reduced box-shadow */
}

.face .eye, .face .eye * {
  transition: 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.face .eye > div {
  --rotation: 0deg;
  --position: 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotation));
}

.face .eye > div .lid {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

.face .eye > div.lower .lid {
  top: calc(100% - var(--position));
}

.face .eye > div.upper .lid {
  bottom: calc(100% - var(--position));
}

.face .eye.left {
  grid-area: left;
}

.face .eye.left .lower {
  --rotation: var(--left-lower-rotation);
  --position: var(--left-lower-position);
}

.face .eye.left .upper {
  --rotation: var(--left-upper-rotation);
  --position: var(--left-upper-position);
}

.face .eye.right {
  grid-area: right;
}

.face .eye.right .lower {
  --rotation: var(--right-lower-rotation);
  --position: var(--right-lower-position);
}

.face .eye.right .upper {
  --rotation: var(--right-upper-rotation);
  --position: var(--right-upper-position);
}



/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
